{% extends 'base.html' %}
{% load humanize %}
{% load static %}


{% block title %}
Data Analysis Explore | Top Sales Cars
{% endblock title %}

{% block home %}

<h1 style='font-size:2rem;margin:40px ;color:white;background-color:purple;padding: 10px;border-radius: 4px;'>
   Top 20 Cars by Sales in 2022
</h1>

<div style='color:white'>
   {{topsales22|safe}}
</div>

<div class='dline'>
</div>

<h1 style='font-size:2rem;margin:40px ;color:white;background-color:purple;padding: 10px;border-radius: 4px;'>
   Top 20 Cars by Sales in 2021
</h1>
<div style='color:white'>
   {{topsales21|safe}}
</div>





{% endblock home %}